@import url('https://fonts.googleapis.com/css2?family=Pragati+Narrow:wght@400;700&display=swap');
@import 'map.css';

html,
body {
  height: 100%;
  margin: 0;
}

#root {
  align-items: center;
  background-color: #13151a;
  color: #ccc;
  display: flex;
  font-family: 'Pragati Narrow', sans-serif;
  font-synthesis: none;
  height: 100%;
  justify-content: center;
  text-rendering: optimizeLegibility;
  width: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

.app-container {
  height: 100%;
  overflow: hidden;
  position: relative;
  width: 100%;
}

#app {
  display: flex;
  height: 100%;
  left: 0;
  position: absolute;
  transition: left 0.25s;
  width: 200%;
  z-index: 1;
}

#app.panel {
  left: -100%;
}

#app > div {
  width: 50%;
}

.panel-container {
  padding: 20px;
}

#panel-button {
  background: #13151aaa;
  border: 0;
  border-radius: 10px;
  bottom: 20px;
  height: 45px;
  left: 20px;
  padding: 0;
  position: absolute;
  width: 45px;
  z-index: 9;
}

h1 {
  margin: 0 0 10px;
}

p {
  line-height: 1.25;
  margin: 0 0 10px;
}