@import url('https://fonts.googleapis.com/css2?family=Pragati+Narrow:wght@400;700&display=swap');
@import 'map.css';

html,
body {
  height: 100%;
  margin: 0;
  overflow: hidden;
  overscroll-behavior: none;
}

#root {
  align-items: center;
  display: flex;
  font-family: 'Pragati Narrow', sans-serif;
  font-synthesis: none;
  height: 100%;
  justify-content: center;
  text-rendering: optimizeLegibility;
  width: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
  --dark-background: #13151a;
  --dark-color: #ccc;
  --light-background: #c6cddd;
  --light-color: #000;
}

.app-container {
  background-color: var(--dark-background);
  color: var(--dark-color);
  height: 100%;
  overflow: hidden;
  position: relative;
  transition: all 0.25s;
  width: 100%;
}

.app-container.light {
  background: var(--light-background);
  color: var(--light-color);
}

#app {
  display: flex;
  height: 100%;
  left: 0;
  position: absolute;
  transition: left 0.25s ease-out;
  width: 200%;
  z-index: 1;
}

#app.panel {
  left: -100%;
}

#app > div {
  width: 50%;
}

.button {
  background: rgb(from var(--dark-background) r g b / 50%);
  border: 2px solid rgb(from var(--dark-color) r g b / 20%);
  border-radius: 10px;
  bottom: 20px;
  height: 45px;
  padding: 0;
  position: absolute;
  width: 45px;
  z-index: 9;
}

.button svg {
  vertical-align: middle;
}

.panel-button {
  left: 20px;
}
