/* Styling third-party things. */

#root .leaflet-container {
  background: var(--dark-background);
  color: var(--dark-color);
}

#root .light .leaflet-container {
  background: var(--light-background);
  color: var(--light-color);
}

#root .leaflet-container .leaflet-control-attribution {
  font-family: 'Pragati Narrow', sans-serif;
}

#root .leaflet-container .leaflet-control-attribution {
  background: rgb(from var(--dark-background) r g b / 50%);
}

#root .light .leaflet-container .leaflet-control-attribution {
  background: rgb(from var(--light-background) r g b / 50%);
}

#root .leaflet-container .leaflet-control-attribution a {
  color: #ddd;
}

#root .light .leaflet-container .leaflet-control-attribution a {
  color: #222;
}
