.panel-container {
  padding: 20px;
}

.panel {
  height: 100%;
}

h1 {
  margin: 0 0 10px;
}

p {
  line-height: 1.25;
  margin: 0 0 10px;
}

.stop-header {
  font-weight: bold;
  margin: 10px 0 0;
}

.stop-header:first-child {
  margin: 0;
}

.stop-data span {
  display: block;
}
