.panel-container {
  padding: 20px;
}

.panel {
  height: 100%;
}

h1 {
  margin: 0 0 5px;
}

p {
  line-height: 1.2;
  margin: 0 0 10px;
}

.theme-button {
  right: 20px;
}

.stop-data {
  max-height: 75%;
  overflow: auto;
}

.stop-data span {
  display: block;
  line-height: 1.33;
}

.stop-data svg {
  vertical-align: -1px;
}

.stop-header {
  cursor: pointer;
  font-weight: bold;
  margin: 10px 0 2px;
}

.stop-header span {
  display: inline;
  font-weight: normal;
}

.stop-header:first-child {
  margin-top: 0;
}

.stops {
  margin: 0 0 10px;
}

/* keithjgrant.com/posts/2023/04/transitioning-to-height-auto/ */
.stops-animation {
  display: grid;
  grid-template-rows: 1fr;
  opacity: 1;
  transition: all 0.25s;
}

.collapsed .stops-animation {
  grid-template-rows: 0fr;
  opacity: 0;
}

.stops-animation .stops {
  overflow: hidden;
}
