.panel-container {
  padding: 20px;
}

.panel {
  height: 100%;
}

h1 {
  margin: 0 0 10px;
}

p {
  line-height: 1.2;
  margin: 0 0 10px;
}

.stop-data {
  max-height: 66.6%;
  overflow: auto;
}

.stop-data span {
  display: block;
  line-height: 1.33;
}

.stop-header {
  font-weight: bold;
  margin: 10px 0 0;
}

.stop-header:first-child {
  margin: 0;
}
